

<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-12" style="margin-top:200px;">
            <div class="heading-pageDetail"><h1>Giới thiệu về Figure</h1></div>
            <div class="content-pageDetail typeList-style">
                <p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/3_cfb62bd4f74441d1a31516fd7f01b404_1024x1024.png"></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;">&nbsp;</p><p style="text-align: justify;"><span style="color: rgb(153, 51, 102);"><strong>► Figure là gì ?</strong></span></p><p style="text-align: justify;">Là&nbsp;mô hình, là tượng, là bất kỳ&nbsp;cách gọi nào liên quan đến những tạo tác 3D cầm nắm được trên tay,&nbsp;mô phỏng lại nhân vật trong bức vẽ, phim,&nbsp;truyện, game...<br>Thông thường figure mang hình dạng con người, đôi khi là động vật, thực vật, quái vật, yêu tinh,&nbsp;thần thánh, thậm chí là sinh vật ngoài tinh...nhân vật nào&nbsp;được điêu khắc thành 3D thì được gọi chung là figure.</p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;">&nbsp;</p><div class="youtube-embed-wrapper" style="position: relative; padding-bottom: 56.25%; height: 0px;"><iframe class="iframe-youtube-embed" width="640" height="360" src="https://www.youtube.com/embed/wQK-sQvkyIQ" style="aspect-ratio: 16 / 9; width: 100%; height: 100%; position: absolute;" frameborder="0"></iframe></div><p style="text-align: center;"><em>Góc trưng bày figure Nhật Bản của vợ chồng bạn Hà MY 9X tại Hà Nội</em></p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;">&nbsp;</p><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/174511079_122365829947044_6358189466528913061_n_7aa27ccc8693492e95e9680f39213119_grande.jpg"></p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;"><span style="color: rgb(153, 51, 102);"><strong>►</strong> <strong>Japan Figure là gì ?</strong></span></p><ol><li style="text-align: justify;">Là những figure được các họa sĩ Nhật Bản sáng tạo, vẽ minh họa, điêu khắc&nbsp;và hoàn thiện thiết kế&nbsp;đầu tiên - prototype tại Nhật Bản.&nbsp;</li><li style="text-align: justify;">Sau đó phần lớn thiết kế này được gửi đi&nbsp;sản xuất hàng loạt tại Trung Quốc.&nbsp;Nên sản phẩm cuối cùng bạn cầm trên tay có chữ “Made in China” là chuyện rất bình thường.</li><li style="text-align: justify;">Vì xuất xứ từ Nhật nên hiển nhiên Japan figure mang đậm văn hóa Nhật&nbsp;từ Anime, Manga, Game, Light novel, J-pop cho đến ca sĩ ảo, streamer ảo&nbsp;v…v…</li></ol><div style="text-align: justify;">&nbsp;</div><div style="text-align: center;">&nbsp;</div><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/259390986_222666446662325_216773720752986953_n_903bd702c93841a0b5832dbbc9ac1199_grande.jpg"></p><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/259661826_437867607746203_2223033954066747930_n_8b057f6b3b4d4b3bb379387be1fe71e6_grande.jpg"></p><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/116873727_223869365518000_5105460633371211525_n_8ed44d4479284f71b567b20ce38ba6c6_grande.jpg"></p><p style="text-align: center">&nbsp;</p><p style="text-align: center"><em>Cách chơi figure với sa bàn. Ảnh của tác giả : Exkurogane</em></p><p style="text-align: center">&nbsp;</p><p style="text-align: center">&nbsp;</p><p style="text-align: justify;">Với công nghệ của Nhật và quy trình sản xuất được giám sát nghiêm ngặt, những sản phẩm figure được hoàn thành rất có hồn của nhân vật gốc, chi tiết sắc bén, màu sắc sống động, đóng gói hỉnh chu.</p><p style="text-align: justify;">Nhờ đó, figure Nhật Bản&nbsp;đã làm mãn lòng fan hâm mộ trên toàn thế giới.</p><h3 class="woo-sc-quote boxed" style="text-align: justify;"><em><code>Tới đây hẳn bạn đang thắc mắc:</code></em><br><em><code>"Làm thế nào để phân biệt được hàng Nhật và hàng nhái từ Trung Quốc?”</code></em></h3><p style="text-align: justify;"><span>Yên tâm nhé Japan Figure đã chuẩn bị sẵn cho bạn 1 số mẹo phân biệt cực ký hữu ích.</span><br><span style="font-size:14px;"><strong><a target="_blank" href="/"><span style="color:#3333ff;">click vào đây để tìm hiểu.</span></a></strong></span></p><p style="text-align: justify;">&nbsp;</p><p style="text-align: center;">&nbsp;</p><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/3068050_ccd1fa7e9ae84d3ba34482793a7f0238_grande.jpg"></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><em>Một bộ sưu tầm Figure chibi của 1 người chơi lâu năm</em></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center"><img src="//file.hstatic.net/1000160337/file/3067714_69eaa6e1b06848b9a0ed2dfdf53c41b8_grande.jpg"></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><em>Sử dụng Figure để lấp đầy cảm hứng cho không gian làm việc</em></p><p style="text-align: center;">&nbsp;</p><p style="text-align: justify;"><span style="color: rgb(153, 51, 102);"><strong>►Japan Figure</strong></span>&nbsp;</p><p style="text-align: justify;">Là nơi chuyên cung cấp figure chính hãng của Nhật Bản tại Việt Nam</p><p style="text-align: justify;"><br>Japan Figure là thiên đường&nbsp;với những bạn quan tâm, theo đuổi vẻ đẹp toàn vẹn, đam mê figure cao cấp và&nbsp;đây mê hoặc của Nhật Bản.</p><p style="text-align: justify;"><br>Nếu nhu cầu&nbsp;của bạn chỉ dừng lại ở&nbsp;figure&nbsp;chất lượng thấp, hàng nhái, giả, không có bản quyền… thì rất tiếc Japan Figure không phải là nơi phù hợp dành cho bạn.</p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;"><span>Từ tháng 8/2012, sau 11 năm phục vụ, Japan Figure rất vui nhận được sự ủng hộ đông đảo từ người sưu tầm&nbsp;trên khắp VN.</span></p><p style="text-align: justify;"><br><span>Tại Japan Figure chúng tôi:</span></p><ul><li style="text-align: justify;">Chuyên cung cấp figure chất lượng cao của Nhật Bản</li><li style="text-align: justify;">Cập nhật thông tin sản phẩm mới mỗi ngày.</li><li style="text-align: justify;"><span>Giải đáp cho bạn mọi thắc mắc về figure, cách mua hàng, hỗ trợ vận chuyển miễn phí.</span></li><li style="text-align: justify;"><span>Săn tìm figure từ hiếm cho đến cực hiếm</span></li></ul><div style="text-align: justify;">&nbsp;</div><p style="text-align: justify;"><span style="color:#993366;"><strong><strong>►</strong>Mục tiêu&nbsp;của Japan Figure là:</strong></span></p><p style="text-align: justify;"><img src="//file.hstatic.net/1000160337/file/mang-nhan-vat-ban-thich-den-gan-ban-hon.jpg"></p><p style="text-align: justify;">Bạn thích chơi figure đơn lẻ hay đi cùng 1 series với nhau?</p><p style="text-align: justify;">Bạn thích figure tự sơn hay sơn sẵn?</p><p style="text-align: justify;">Bạn thích kích cỡ lớn hay nhỏ, có cần thay đổi gương mặt không? Giữ yên 1 tư thé (tĩnh) hay đổi tư thế thường xuyên (động)?</p><p style="text-align: justify;">Bạn muốn trưng bày tất cả figure ngay trước mặt để tăng cảm hứng làm việc, hay tạo không gian riêng cho từng bé để tăng tính nghệ thuật?</p><p style="text-align: justify;">Hãy chọn cho mình một figure yêu thích và cách chơi phù hợp nhé.</p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;"><strong><a href="https://www.facebook.com/media/set/?set=a.599326660108007"></a></strong></p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;">&nbsp;</p><p style="text-align: center;"><img src="//file.hstatic.net/1000160337/file/gioi_thieu_japan_figure_tu_ke.jpg"></p><div style="left: 20px; top: 20px;">&nbsp;</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <aside class="sidebar-page">
                <!-- Menu sidebar  -->

                <div class="group-sidebox">
                    <div class="sidebox-title ">
                        <h3 class="htitle">
                            Danh mục<span class="fa fa-angle-down"></span>
                        </h3>
                    </div>
                    <div class="sidebox-content sidebox-content-togged">
                        <ul class="menuList-links">


                            <li class=""><a href="/search" title="Tìm kiếm"><span>Tìm kiếm</span></a></li>



                            <li class=" active "><a href="/pages/about-us" title="Giới thiệu"><span>Giới thiệu</span></a></li>


                        </ul>
                    </div>
                </div>

                <!-- Banner sidebar  -->

                <div class="group-sidebox-banner">
                    <figure class="groupbanner_image groupbanner-hover">
                        <a class="groupbanner_image_link" href="/collections/hang-order">
                            <div class="groupbanner_image_block">
                                <picture>
                                    <source data-srcset="//theme.hstatic.net/1000160337/1000885200/14/page_banner_image.jpg?v=299" srcset="//theme.hstatic.net/1000160337/1000885200/14/page_banner_image.jpg?v=299">
                                </picture>
                            </div>
                        </a>
                    </figure>
                </div>

            </aside>
        </div>
    </div>
</div>