@model WebShop.Models.EF.Subscribe
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Theo dõi</h4>
                    <p>Theo dõi chúng tui tại đây</p>
                </div>
            </div>
            <div class="col-lg-6">
                @using (Ajax.BeginForm("Sub", "Home", new AjaxOptions
                {
                    OnBegin = "OnBeginSub",
                    OnSuccess = "OnSuccessSub",
                    OnFailure = "OnFailuresub"
                }))
                {
                    <script>
                        function OnBeginSub() {

                        }
                        function OnSuccessSub(rs) {
                            if (rs.Success) {
                                alert("Bạn đã theo dõi!");
                            }
                        }
                        function OnFailuresub(rs) {

                        }
                    </script>
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        @*@Html.TextBoxFor(x => x.Email, new { @id = 0, @class = "form-control" })*@
                        <input id="newsletter_email" name="email"
                               placeholder="Your email" required="required"
                               data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit"
                                class="newsletter_submit_btn trans_300"
                                value="Submit">
                            subscribe
                        </button>
                    </div>
                }


            </div>
        </div>
    </div>
</div>

