
@{
    ViewBag.Title = "Liên Hệ";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">


<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên Hệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->
    <div class="row">
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us -->

    <div class="row">

        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>Thông Tin Liên Hệ</h1>
                <p>
                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        475A Đ. Điện Biên Phủ,
                        Phường 25, Bình Thạnh,
                        Thành Phố Hồ Chí Minh
                    </span>
                </p>

                <div>
                    <p>0385637299</p>
                    <p>nvtfigure@gmail.com</p>
                </div>
                <div>
                    <p>Mở cửa:8h-18h :Thứ 2 - Thứ 7</p>
                    <p>Chủ nhật: Đóng cửa</p>
                </div>
            </div>

            <!-- Follow Us -->

            <div class="follow_us_contents">
                <h1>Theo giỏi chúng tôi</h1>
                <ul class="social d-flex flex-row">
                    <li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h1>Gửi Lời Nhắn</h1>
                <form action="post">
                    <div>
                        <input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Tên" required="required" data-error="Name is required.">
                        <input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
                        <input id="input_website" class="form_input input_website input_ph" type="url" name="name" placeholder="Website" required="required" data-error="Name is required.">
                        <textarea id="input_message" class="input_ph input_message" name="message" placeholder="Lời nhắn" rows="3" required data-error="Please, write us a message."></textarea>
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Gửi</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
   
}
